/.idea/libraries
/.idea/modules
/.idea/artifacts/Gradle___chatterbox_draft_1_0_0_war__exploded_.xml
/.idea/artifacts/Gradle___chatterbox_1_0_0_war__exploded_.xml
/.idea/artifacts/Gradle___chatterbox_1_0_0_war.xml
/.idea/artifacts/Gradle___chatterbox_draft_1_0_0_war.xml
/.gradle/
/.gwt
/war/WEB-INF/appengine-generated
/war/WEB-INF/classes
/war/chatterbox
/war/WEB-INF/deploy
/war/WEB-INF/lib/gwt-servlet.jar
/test-classes
/gwt-unitCache
/*.jar
/build/
*.swp
/.idea/artifacts/
/.idea/dataSources/
/.idea/workspace.xml
/.idea/dataSources.local.xml
